
:root{
  --color-text: #616161;
  --color-text-btn: #ffffff;
  --card1-gradient-color1: #f12711;
  --card1-gradient-color2: #f5af19;
  --card2-gradient-color1: #7F00FF;
  --card2-gradient-color2: #E100FF;
  --card3-gradient-color1: #3f2b96;
  --card3-gradient-color2: #a8c0ff;
  --card4-gradient-color1: #11998e;
  --card4-gradient-color2: #38ef7d;
}

.card-wrap{
  width: 100%;
  background: #fff;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  color: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
/* .card-wrap:hover{
  transform: scale(1);
} */
.card-header{
  height: 200px;
  width: 100%;
  background: red;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;

}

.card-header i{
  color: #fff;
  font-size: 72px;
}
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 98%; */
  margin: 0 auto;
}
.card-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  
}
.card-text{
  text-align: left;
  font-size: 12px;
  margin-bottom: 20px;
}
.card-btn{
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.card-header.one{
  background: linear-gradient(to bottom left, var(--card1-gradient-color1), var(--card1-gradient-color2));
}
.card-header.two{
  background: linear-gradient(to bottom left, var(--card2-gradient-color1), var(--card2-gradient-color2));
}
.card-header.three{
  background: linear-gradient(to bottom left, var(--card3-gradient-color1), var(--card3-gradient-color2));
}
.card-header.four{
  background: linear-gradient(to bottom left, var(--card4-gradient-color1), var(--card4-gradient-color2));
}

.card-btn.one{
  background: linear-gradient(to left, var(--card1-gradient-color1), var(--card1-gradient-color2));
}
.card-btn.two{
  background: linear-gradient(to left, var(--card2-gradient-color1), var(--card2-gradient-color2));
}
.card-btn.three{
  background: linear-gradient(to left, var(--card3-gradient-color1), var(--card3-gradient-color2));
}
.card-btn.four{
  background: linear-gradient(to left, var(--card4-gradient-color1), var(--card4-gradient-color2));
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 130px 0px;
}


.textinstitute
{
  /* background-color: linear-gradient(#F24A13,#8F00FF,#4D40A4) ;
  -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  font-size: 72px;
  background: -webkit-linear-gradient(#F24A13,#F24A13,#F24A13);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.scroll-course
{
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-course::-webkit-scrollbar
{
display: none;
}

.cardstyle
{
  /* background-image: linear-gradient(to right,#f3efef,#555251); */
  background-color: #eeeeee;
  border-radius: 5px;
  /* margin-top: 1px; */
  color: rgb(105, 105, 105);
}

.cardstyle1
{
  /* background-image: linear-gradient(to right,#f3efef,#555251); */
  background-color: #e0dfdf;
  border-radius: 5px;
  /* margin-top: 1px; */
  color: rgb(105, 105, 105);
}

.imgwidth
{
  width: 35%;
}
.imgwidth1
{
  width: 45%;
}
.imgwidth2
{
  width: 65%;
}

@media (min-width:1600px) and (max-width:4900px) {
  .imgwidth
  {
    width: 25%;
  }
  .imgwidth1
  {
    width: 30%;
  }
  .imgwidth2
  {
    width: 55%;
  }
  .modal-profilepage
  {
    margin-top: 13%;
  }
}​